# This is a template .gitignore file for git-managed WordPress projects.
#
# Fact: you don't want WordPress core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.
#
# Solution: stick this file up your repository root (which it assumes is
# also the WordPress root directory) and add exceptions for any plugins,
# themes, and other directories that should be under version control.
#
# See the comments below for more info on how to add exceptions for your
# content. Or see git's documentation for more info on .gitignore files:
# http://kernel.org/pub/software/scm/git/docs/gitignore.html

# CLEANING THE REPOSITORY
# If you've added this .gitignore file in an existing repository, you may want to remove the content that should be ignored. Here is how to do that.
# you can use a wildcard to remove all files, and then add all the files back, and then commit the updates.

# $ git commit -m "Pre Cleanup"
# $ git rm -r --cached .
# $ git add .
# $ git commit -m ".gitignore setup and cleaned up"


# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
!wp-config.php

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/books
# !wp-content/plugins/my-directory-plugin/
wp-content/themes/.DS_Store
wp-content/themes/authorQuill/languages/de_DE.mo
wp-content/themes/authorQuill/languages/de_DE.po
wp-content/themes/authorQuill/languages/es_CL.mo
wp-content/themes/authorQuill/languages/es_CL.po
wp-content/themes/authorQuill/languages/es_ES.mo
wp-content/themes/authorQuill/languages/es_ES.po
wp-content/themes/authorQuill/languages/fr_FR.mo
wp-content/themes/authorQuill/languages/fr_FR.po
wp-content/themes/authorQuill/languages/HTML5Blank.pot
wp-content/themes/authorQuill/languages/hu_HU.mo
wp-content/themes/authorQuill/languages/hu_HU.po
wp-content/themes/authorQuill/languages/it_IT.mo
wp-content/themes/authorQuill/languages/it_IT.po
wp-content/themes/authorQuill/languages/nl_NL.mo
wp-content/themes/authorQuill/languages/nl_NL.po
wp-content/themes/authorQuill/languages/pt_BR.mo
wp-content/themes/authorQuill/languages/pt_BR.po
wp-content/themes/authorQuill/languages/ro_RO.mo
wp-content/themes/authorQuill/languages/ro_RO.po
wp-content/themes/authorQuill/js/lib/conditionizr-4.3.0.min.js
wp-content/themes/authorQuill/js/lib/modernizr-2.7.1.min.js
wp-content/themes/authorQuill/normalize.css
wp-content/themes/authorQuill/normalize.min.css
# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
