.series-display {
    width: 100%;

    .teaser {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .series,
    .book {
        display: flex;
        justify-content: center;
        background-position: top left;
        background-size: cover;
    }

    .image,
    .info {
        flex: 1 0 0;
    }

    .image {
        max-width: 400px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .info {
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
    }

    #seriesGrimm {
        background-image: url('./assets/series/grimm-bkg.png');

        img {
            margin-bottom: -150px;
        }    
    }

    #seriesRed {
        background-image: url('./assets/series/red-bkg.png');

        .image {
            overflow: visible;

            img {
                margin-top: -30px;
                margin-bottom: -4px;
            }            
        }     
    }  
    
    .book {
        background-image: url('./assets/layout/paper.png');
        display: block;

        &:after {
            @include clearFix;
        }
        
        .info {
            display: block;
            flex: none;
            float: left;
            max-width: 460px;
        }

        .image {
            display: block;
            flex: none;
            float: right;
            overflow: visible;   
            max-width: 600px;
            margin-left: -100px;

            img {
                margin-bottom: -4px;
            }
        }
    }
}